/*////////////// Fonts //////////////*/
h1{
  font-family: 'Baskerville', serif;
  color: #ccc;
  padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
h2{
  color: #ccc;
}
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman',Times, serif; 
}
}
span a{
  text-decoration: none;
}
.wrapper {
  height:100%;
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 60px;
}
img:hover{
  border-style: solid;
  border width: 5px;
  border-color: #000;
  cursor: pointer;
}

#copy p {
  display: inline-block;
  float: right;
  margin-right: 30px;
}